body { font-family: omnes-pro; color:#8e8b8a; }

/* all tiers are automatically clearfix'd */
.tier:before,
.tier:after { content:""; display:table; }
.tier:after { clear:both; }
.tier { zoom:1; }

.content { width:800px; margin:300px auto 0; text-align:left; }

.pane p { font-size:40px; }

.pane label { 
	display:block; float:left; padding:0 30px 0 0; 
	font-size:48px; 
}
.pane input[type=text] { 
	display:block; float:left; width:350px; padding:12px 10px; 
	font-size:48px; border:1px solid #cccccc; outline:0; 
}
.pane input[type=text]:focus { 
	-moz-box-shadow:0 0 5px #84cef5;
	-webkit-box-shadow:0 0 5px #84cef5;
	box-shadow:0 0 5px #84cef5;
}

.start-pane .tier { margin:100px 0 0; }
.start-pane .tier:first-child { margin-top:0; }

.footer { position:fixed; bottom:0; width:100%; text-align:left; background-color:#f0efee; }
.footer .tier { padding:20px 30px; }

.footer .social { float:left; }

.footer .logo { float:right; }
.footer .logo a { display:block; width:92px; height:27px; background-image:url("../img/tc_logo.png"); }
.footer .logo a span { display:none; }